@font-face {
  font-family: 'Monument Extended';
  src: url('monument/MonumentExtended-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('generalsans/GeneralSans-Variable.woff2') format('woff2');
}
